<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1049440414148-51e4toqibg5c09tsjtlbrdiqjj2bqa8s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1049440414148-51e4toqibg5c09tsjtlbrdiqjj2bqa8s</string>
	<key>API_KEY</key>
	<string>AIzaSyAlWUvpKw6iUHmlSv6VB6CD56Qv224oAyY</string>
	<key>GCM_SENDER_ID</key>
	<string>1049440414148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.libraryApp</string>
	<key>PROJECT_ID</key>
	<string>library-9a89f</string>
	<key>STORAGE_BUCKET</key>
	<string>library-9a89f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049440414148:ios:f08df0c7b8ad779f31dc91</string>
</dict>
</plist>